<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
        <title>Modelo de Riesgo: {% block title%} {%endblock%}</title>
        <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
        <h1>Modelo de Riesgo: ScoreCard</h1>
    </head>
<body>
    {% block content %}
    
    {% endblock %}

    
</body>
</html>